<div class=" header bg-dark pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0">View Deleted Data</h6>
  
            <nav
              aria-label="breadcrumb"
              class=" d-none d-md-inline-block ml-md-4"
            >
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                </li>
  
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> View Deleted Data</a>
                </li>
  
              </ol>
            </nav>
          </div>
        </div>
  
        <div class=" row">
          <div class=" col-sm-12">
  
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <div class=" container-fluid mt--6">
    <div class="row">
      <div class="col-sm-12" >
        <div class=" card card-stats">
          <div class=" card-body">
            <div class=" row">
              <div class="col-12 text-center">
                
                <table #myTable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="tableDataReady == 1"  class="display nowrap" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>ERP Code</th>
  
                        <th>Type Item</th>
                        <th>Product Part Number</th>
                        <th>Greatech Drawing Naming</th>
                        <th>Description</th>
                        <th>Brand</th>
                        <th>UOM</th>
                        <th>Folder Location</th>
                        <th>Insert Date</th>
                        <th>Update Date</th>
                        <th>Remark</th>
                        <th>Assign Material</th>
                        <th>Assign Weight</th>
                        <th>Category Type</th>
                        <th>Category</th>
                        <th>Update By</th>
                    </tr>
                  </thead>
                  <tbody class="table-sb" >
                    <tr *ngFor="let sp of recovery">
                        <td>{{sp.id}}</td>
                        <td>{{sp.erp_code}}</td>
                       
                        <td>{{sp.type_item}}</td>
                        <td>{{sp.product_part_number}}</td>
                        <td>{{sp.greatech_drawing_naming}}</td>
                        <td>{{sp.description}}</td>
                        <td>{{sp.brand}}</td>
                        <td>{{sp.uom}}</td>
                        <td><a href="{{sp.folder_location}}">{{sp.folder_location}}</a></td>
                        <td>{{sp.insert_date}}</td>
                        <td>{{sp.update_date}}</td>
                        <td>{{sp.remark}}</td>
                        <td>{{sp.assign_material}}</td>
                        <td>{{sp.assign_weight}}</td>     
                        <td>{{sp.category_type}}</td>
                        <td>{{sp.category_desc}}</td>
                        <td>{{sp.fullname}}</td> 
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="tableDataReady == 0">
                  Loading
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div> 
  </div>
  
  