.navbar-light{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(https://images.pexels.com/photos/3421636/pexels-photo-3421636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ps__rail-y.ps--clicking .ps__thumb-y, .ps__rail-y:focus>.ps__thumb-y, .ps__rail-y:hover>.ps__thumb-y{
    background: rgba(0, 0, 0, 1)!important;
}

.sidenav-toggler-line{
    background-color:white!important;
}

hr{
    border-top: 1px solid rgb(255 255 255 / 26%);
}

.navbar-vertical.navbar-expand-xs.fixed-left{
    border-width: 0px!important;
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item > .nav-link.active{
    background: rgba(0,0,0,0.3);
}