/* You can add global styles to this file, and also import other style files */
.bg-default{
    background-color:black!important;
}

.btn-default{
    border-color: #f56036!important;
    background-color: #f56036!important;
    color: white!important;
}

.btn-neutral{
    color:#f56036!important;
}

.text-primary{
    color:#f56036!important;
}

.badge-primary{
    color: #f56036!important;
    background-color: rgba(255, 187, 13, 0.15)!important;
}

.oneline{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align:justify;
}

.threeline{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-align:justify;
}

.fill-default{
    fill: black!important;
}

.bg-default{
    background-color: black!important;
}

a{
    color: #f56036!important;
}

.nav-link{
    color: white!important;
}

.help-block{
    color: rgba(255, 0, 0, 0.7);
    padding:15px;
}

.sub-error{
    border-color: red;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color:#f56036!important;
}

/**Main Page**/
.main-bg-img {
    background-image: url("https://images.pexels.com/photos/236698/pexels-photo-236698.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
  
.main-bg-default{
    background-color: #212529 !important;
}

.text-black{
    color:black!important;
}

/**Auth Page**/
.auth-bg-img {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(https://images.pexels.com/photos/236698/pexels-photo-236698.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.auth-bg-default{
    background-color: #212529 !important;
}

.auth-admin-bg-img {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(https://images.pexels.com/photos/2058128/pexels-photo-2058128.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.auth-admin-bg-default{
    background-color: #212529 !important;
}

/**Card Project**/
.card-project{
    max-height: 100px;
    object-fit: fill;
}

.card-main-img-container{
    padding: 0px!important;
}

.card-main-img{
    margin: 0 auto;
    padding: 0px!important;
    width:100%;
    height:190px!important;
    object-fit: cover;
    object-position: 50% 50%;
}

.card-smain-img-container{
    padding: 0px!important;
}

.card-smain-img{
    margin: 0 auto;
    padding: 0px!important;
    width:100%;
    height:100px!important;
    object-fit: cover;
    object-position: 50% 50%;
}

.card-option-icon {
    color: #525f7f!important;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

.card-option-icon:hover {
    color: #f56036!important;
    cursor: pointer!important;
}

.card-footer{
    border-top: 1px solid rgb(0, 0, 0, 0.3);
}

.ps .ps__rail-x.ps--clicking, .ps .ps__rail-x:focus, .ps .ps__rail-x:hover, .ps .ps__rail-y.ps--clicking, .ps .ps__rail-y:focus, .ps .ps__rail-y:hover{
    background-color: rgba(0, 0, 0, 0)!important;
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y:hover>.ps__thumb-y{
    background-color: rgba(0, 0, 0, 0)!important;
}

.ps__rail-y{
    background-color: rgba(0, 0, 0, 0)!important;
    transition: background-color .2s linear, opacity .2s linear;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
}

.avatar{
    background-color:white!important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.03), 0 3px 6px rgba(0,0,0,0.05);
}

.bg-opacity-2-dark{
    background-color: rgba(0, 0, 0, 0.9)!important;
    color:white!important;
}

carousel{
    z-index: 10!important;
}

.icon-shape i, .icon-shape svg{
    font-size: 1rem!important;
}

.navbar-vertical .navbar-nav .nav-link[data-toggle=collapse][aria-expanded=true]:after{
    color: #f56036!important;
}

.bg-dark{
    background-color: #020202!important;
}

::-webkit-scrollbar {
    background-color: #020202;
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background-color: #020202;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
}

.table-sb,::-webkit-scrollbar {
    background-color: #ffffff;
    width: 12px;
}
 
.table-sb,::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}
 
.table-sb,::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #020202;
}

.ngx-toastr{
    background-color: none;
}

.alert-success{
    background-color: #4fd69c!important;
}

.alert-danger{
    background-color: #f75676!important;
}

.konvajs-content > canvas{
    border-radius: 10px;
    background-color: #e7e7e7!important;
}

.konva-overflow {
    overflow: auto;
}

.card-shadow{
    box-shadow: 0 7px 14px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.1)!important;
}

.text-gold-orange{
    color:#f5b400!important;
}

.text-black{
    color: black!important;
}

.konva-overflow::-webkit-scrollbar {
    background-color: white;
    width: 12px;
}
 
.konva-overflow::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

.konva-overflow::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color:black;
    -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0); 
}

.selection-add{
    border-radius: 10px;
    background-color: #bebebe;
}

.selection-add-row{
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    border-style: dashed;
}

.selection-panel{
    border-radius: 10px;
    background-color: #f3f3f3;
}

.btn-cursor {
    cursor: pointer;
}

.code-editor-js {
    .editor-container {
      height: calc(100vh - 100px);
    }
}

.hiding{
    display: none;
}

.show{
    display:block;
}

.swal2-title{
    color: black!important;
}

.swal2-confirm{
    color: white!important;
    background-color: #f56036!important;
}

.table-wrap {
    width: 100%;
    overflow: auto;
}


.p-datatable {
    table-layout: fixed;
    width: 250%;
}

.p-datatable-users {
    table-layout: fixed;
    width: 100%;
}

.p-paginator{
    justify-content: left!important;
}
