<div class=" header bg-dark pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0">View User</h6>
  
            <nav
              aria-label="breadcrumb"
              class=" d-none d-md-inline-block ml-md-4"
            >
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                </li>
  
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> View User </a>
                </li>
  
              </ol>
            </nav>
          </div>
        </div>
  
        <div class=" row">
          <div class=" col-sm-12">
  
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <div class=" container-fluid mt--6">
    <div class="row">
      <div class="col-sm-12" >
        <div class=" card card-stats">
          <div class=" card-body">
            <div class=" row">
              <div class="col-12">
                <div class="table-wrap">
                  <p-table #dt1 [value]="users" [(selection)]="selectedUsers" dataKey="id" styleClass="p-datatable-users" [rowHover]="true"
                  [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading"
                  [scrollable]="true" columnResizeMode="expand"  [responsive]="true" 
                  [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [filterDelay]="0" [globalFilterFields]="['id','employeeID','fullname','name']">
                      <ng-template pTemplate="caption">
                          <div class="p-d-flex text-left">
                              <span class="p-input-icon-left ml-3">
                                  <i class="pi pi-search"></i>
                                  <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                              </span>
                          </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                          <tr>
                              <th *ngIf="actionRole == 'Admin'" >
                                Actions
                              </th>
                              <th pSortableColumn="id">
                                  ID <p-sortIcon field="id"></p-sortIcon>
                              </th>
                              <th pSortableColumn="employeeID">
                                  <div class="p-d-flex p-jc-between p-ai-center">
                                      Employee ID 
                                      <p-sortIcon field="employeeID"></p-sortIcon>
                                      <p-columnFilter type="text" field="employeeID" display="menu"></p-columnFilter>
                                  </div>
                              </th>
                              <th pSortableColumn="fullname">
                                  <div class="p-d-flex p-jc-between p-ai-center">
                                      Full Name 
                                      <p-sortIcon field="fullname"></p-sortIcon>
                                      <p-columnFilter type="text" field="fullname" display="menu"></p-columnFilter>
                                  </div>
                              </th>
                              <th pSortableColumn="name">
                                  <div class="p-d-flex p-jc-between p-ai-center">
                                      Name 
                                      <p-sortIcon field="name"></p-sortIcon>
                                      <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                                  </div>
                              </th>
  
                          </tr>
  
                      </ng-template>
                      <ng-template pTemplate="body" let-u>
                          <tr>
                              <td *ngIf="actionRole == 'Admin'" >
                                <button class="btn btn-warning" (click)="editUser(u.id)"><i class="fas fa-pen"></i></button>
                                <button class="btn btn-danger" (click)="deleteUser(u.id)"><i class="fas fa-trash"></i></button>
                              </td>
                              <td>{{u.id}}</td>
                              <td>{{u.employeeID}}</td>
                              <td>{{u.fullname}}</td>
                              <td>{{u.name}}</td>

                          </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                          <tr>
                              <td colspan="5">No users found.</td>
                          </tr>
                      </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div> 
  </div>
  
  